extends ../layout

block content
    h1= title
    if genres.length
        ul
            each genre in genres
                li
                    a(href=genre.url) #{genre.name}
    else
        p #{t('list.no_genres')}
