extends ../layout
include ../mixins

block content
    h1= title
    if books.length
        ul
            each book in books
                li.mb
                    +link(book.title, `/books/${book.id}`)
                    |  (#{book.author.name})
    else
        p #{t('list.no_books')}
